<!doctype html>
<html lang="en">
<head>{{>header}}
</head>
<body>
<!--navbar -->
{{>navbar}}
<!--main-header-->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-11 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure class="left-image">
                        <img alt="placeholder" src="images/b1.png" title="Singla Weather Forecast">
                    </figure>
                </div>
                <!--            left side-->
                <div class="col-md-6 col-12 main_header_left">
                    <p>welcome to weather Forecast</p>
                    <h1>I am a <span>Mern Stack developer</span>youtuber and a freelancer</h1>
                    <a href="/weather">
                        <button>Check Now</button>
                    </a>
                </div>
                <!--            right side-->
            </div>
        </div>
    </div>
</div>
<!--footer-->
{{>footer}}
<!--link for awesome font-->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!--bootstrap links-->

</body>
</html>